.App {
  text-align: center;
  font-size: 14px;

}
.todoContainer{}
.todo-input,.todo-btn{
  padding: 0.5em;
  padding-block: 1em;
  font-size: 1.2em;
}
.todo-input{
  border-radius: 0.5em 0 0 0.5em;
  border: 1px solid #ca25ca;

}
.todo-input:focus{
  outline: none;
}
.todo-btn{
  background-color: #ca25ca;
  border: 1px solid #ca25ca;
  color: #ffffff;
  width: 150px;
  border-radius: 0 0.5em 0.5em 0;
}
.itemContainer{
  padding: 10px;
}
.listItem{
  border: 1px solid #9e1dda;
  padding: 5px;
  margin-block: 10px;
  border-radius: 5px;
  display: flex;
}